/* Font Style */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap");
/* Palette */
:root {
  --main-font: "Lato", sans-serif;
  --content-font: "Roboto", sans-serif;
}
/* All */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--main-font);
}
p {
  font-family: var(--content-font);
}
.height-10 {
  height: 100vh;
}
/* Navbar */
.nav-item .nav-link:hover {
  font-weight: 700;
}
/* Hero */
.jumbotron h1 {
  font-weight: 400;
}
.jumbotron i {
  font-size: 1.5rem;
}
.bg-picture {
  background-image: url(/assets/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
/* Transition */
.transition-pad {
  padding: 6rem 0 2rem 0;
}
/* About */
.bg-about p {
  font-weight: 300;
}
.bg-about .card {
  background-image: url(/assets/about.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}
.bg-about {
  padding: 6rem 0 4rem 0;
  background-image: linear-gradient(180deg, #f8f9fa, rgb(64, 64, 64, 0.2) 80%);
}
/* Portofolio */
.card {
  border: none;
  background: none;
}
.card img {
  width: 100%;
}
.padding {
  padding: 7em 0 10rem 0;
  background-image: linear-gradient(180deg, rgb(64, 64, 64, 0.2), rgb(1, 1, 1) 80%);
}
/* Contact */
#contact {
  padding: 1rem 0;
}
#contact p {
  font-size: 0.8rem;
}
#contact i {
  font-size: 1.25rem;
}
